<%- include('../partials/header') %>

<h2>Show details</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <form action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
      <td><input type="datetime-local" name="workoutDate" value="<%= datestring %>"></td>
      <td><input type="text" name="content" value="<%= workout.content %>"></td>
      <td><input type="number" name="reps" value="<%= workout.reps %>"></td>
      <td><input type="number" name="sets" value="<%= workout.sets %>"></td>
      <td><input type="number" name="weight" value="<%= workout.weight %>"></td>
      <td class="workout-user"><img alt="avatar" src="<%= workout.userAvatar %>" referrerpolicy="no-referrer" ><%= workout.userName %></td>
      <td><button type="submit">Update my Workout</button> </td>
      </form>
    </tr>
  </tbody>
</table>