<%- include('../partials/header') %>

<h3>The Communities Workouts Live Here!</h3>
<table class="all-workouts">
  <thead>
    <tr class="all-workouts-list">
      <th>Date</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(function(w) {%>
    <tr>
      <td><%= w.workoutDate.toLocaleDateString() %></td>
      <td><%= w.content %></td>
      <td><%= w.reps %></td>
      <td><%= w.sets %></td>
      <td><%= w.weight %></td>
      <td class="workout-user"><img alt="avatar" src="<%= w.userAvatar %>" referrerpolicy="no-referrer" style="border-radius: 50%; height: 60px"><%= w.userName %></td>
      <td><a href="/workouts/<%= w._id %>">Details</a></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>