<%- include('../partials/header') %>

<h3>Your workout here!</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(function(w) {%>
    <tr>
      <td><%= w.workoutDate.toLocaleDateString() %></td>
      <td><%= w.content %></td>
      <td><%= w.reps %></td>
      <td><%= w.sets %></td>
      <td><%= w.weight %></td>
      <td class="workout-user"><img alt="avatar" src="<%= w.userAvatar %>" referrerpolicy="no-referrer" ><%= w.userName %></td>
    </tr>
    <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>