<%- include('../partials/header') %>

<h3>Your workout here!</h3>
<thead>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Review</th>
    <th>Rating</th>
    <th></th>
  </tr>
</thead>

<h2><% workouts.forEach(function(w) {%>
    <%= w.content %>
    <%= w.workoutDate %>
    <%= w.reps %>
    <%= w.sets %>
    <%= w.weight %>
    <%= w.user %>
    <%= w.avatar %>
    <% }) %></h2>



<%- include('../partials/footer') %>