<%- include('../partials/header') %>

<h2>Show details</h2>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>User</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= workout.workoutDate.toLocaleDateString() %></td>
      <td><%= workout.content %></td>
      <td><%= workout.reps %></td>
      <td><%= workout.sets %></td>
      <td><%= workout.weight %></td>
      <td class="workout-user"><img alt="avatar" src="<%= workout.userAvatar %>" referrerpolicy="no-referrer" ><%= workout.userName %></td>
      <td><a href="/workouts/<%= workout._id %>/edit">Edit my Workout</a></td>
    </tr>
  </tbody>
</table>

<h2>Comments: <% workout.comments.forEach(function(c) { %></h2>
<% if (user?._id.equals(c.user)) { %>

<h5><%= c.content %></h5>
<h5><%= c.userName %></h5>
<h5><img alt="avatar" src="<%= workout.userAvatar %>" referrerpolicy="no-referrer"></h5>

<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>
<% }); %>
<h2>Comment on <%= workout.userName %>'s Workout!</h2>
<form action="/workouts/<%= workout._id %>/comments" method="POST">
  <textarea name="content" id="" cols="30" rows="10"></textarea>
  <input type="submit" value="comment">
</form>
<%- include('../partials/footer') %>