<%- include('../partials/header') %>

<table class="all-workouts">
  <thead>
    <tr class="show-workout-list">
      <th>Date</th>
      <th>Exercise</th>
      <th>Sets</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr class="show-workout-content">
      <td><%= workout.workoutDate.toLocaleDateString() %></td>
      <td><%= workout.content %></td>
      <td><%= workout.reps %></td>
      <td><%= workout.sets %></td>
      <td><%= workout.weight %></td>
      <td class="workout-user"><img alt="avatar" src="<%= workout.userAvatar %>" referrerpolicy="no-referrer" style="border-radius: 50%; height: 60px"><%= workout.userName %></td>
      <% if (user?._id.equals(workout.user)) { %><td><a href="/workouts/<%= workout._id %>/edit">Edit my Workout</a></td><% } %>
    </tr>
  </tbody>
</table>

<h2>Comments: </h2>
<% workout.comments.forEach(function(c) { %>
<p2 class="comment-show">
  <img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" style="border-radius: 50%; height: 60px">
  <div class="commenter-name"><%= c.userName %></div>     
  <div class="comment"><%= c.content %></div>     
</p2>   
  <% if (user?._id.equals(c.user)) { %>
    <form action="/comments/<%= c._id %>?_method=DELETE" method="POST"><input id="delete-comment" type="submit" value="Delete Comment"></form>
  <% } else { %>
   
  <% } %>
<% }); %>
<h2>Comment on <%= workout.userName %>'s Workout!</h2>
<form action="/workouts/<%= workout._id %>/comments" method="POST">
  <div class="comment-here"></div>
    <textarea id="my-comment" name="content" id="" cols="50" rows="5"></textarea>
    <input id="submit-comment" type="submit" value="comment">
  </div>
</form>
<%- include('../partials/footer') %>